.background-type-1-1 {
    --s: 100px; /* control the size */
    --c1: #c3ccaf;
    --c2: #67434f;
  
    --_s: calc(2 * var(--s)) calc(2 * var(--s));
    --_g: var(--_s) conic-gradient(at 40% 40%, #0000 75%, var(--c1) 0);
    --_p: var(--_s) conic-gradient(at 20% 20%, #0000 75%, var(--c2) 0);
    background: calc(0.9 * var(--s)) calc(0.9 * var(--s)) / var(--_p),
      calc(-0.1 * var(--s)) calc(-0.1 * var(--s)) / var(--_p),
      calc(0.7 * var(--s)) calc(0.7 * var(--s)) / var(--_g),
      calc(-0.3 * var(--s)) calc(-0.3 * var(--s)) / var(--_g),
      conic-gradient(from 90deg at 20% 20%, var(--c2) 25%, var(--c1) 0) 0 0 /
        var(--s) var(--s);
    animation: m 3s infinite;
  }
  @keyframes m {
    0% {
      background-position: calc(0.9 * var(--s)) calc(0.9 * var(--s)),
        calc(-0.1 * var(--s)) calc(-0.1 * var(--s)),
        calc(0.7 * var(--s)) calc(0.7 * var(--s)),
        calc(-0.3 * var(--s)) calc(-0.3 * var(--s)), 0 0;
    }
    25% {
      background-position: calc(1.9 * var(--s)) calc(0.9 * var(--s)),
        calc(-1.1 * var(--s)) calc(-0.1 * var(--s)),
        calc(1.7 * var(--s)) calc(0.7 * var(--s)),
        calc(-1.3 * var(--s)) calc(-0.3 * var(--s)), 0 0;
    }
    50% {
      background-position: calc(1.9 * var(--s)) calc(-0.1 * var(--s)),
        calc(-1.1 * var(--s)) calc(0.9 * var(--s)),
        calc(1.7 * var(--s)) calc(-0.3 * var(--s)),
        calc(-1.3 * var(--s)) calc(0.7 * var(--s)), 0 0;
    }
    75% {
      background-position: calc(2.9 * var(--s)) calc(-0.1 * var(--s)),
        calc(-2.1 * var(--s)) calc(0.9 * var(--s)),
        calc(2.7 * var(--s)) calc(-0.3 * var(--s)),
        calc(-2.3 * var(--s)) calc(0.7 * var(--s)), 0 0;
    }
    100% {
      background-position: calc(2.9 * var(--s)) calc(-1.1 * var(--s)),
        calc(-2.1 * var(--s)) calc(1.9 * var(--s)),
        calc(2.7 * var(--s)) calc(-1.3 * var(--s)),
        calc(-2.3 * var(--s)) calc(1.7 * var(--s)), 0 0;
    }
  }
  
  .background-type-1-2 {
    --s: 100px; /* controla el tamaño */
    --c1: #f96167;
    --c2: #f9e795;
  
    --_s: calc(2 * var(--s)) calc(2 * var(--s));
    --_g: var(--_s) conic-gradient(at 40% 40%, #0000 75%, var(--c1) 0);
    --_p: var(--_s) conic-gradient(at 20% 20%, #0000 75%, var(--c2) 0);
    background: calc(0.9 * var(--s)) calc(0.9 * var(--s)) / var(--_p),
      calc(-0.1 * var(--s)) calc(-0.1 * var(--s)) / var(--_p),
      calc(0.7 * var(--s)) calc(0.7 * var(--s)) / var(--_g),
      calc(-0.3 * var(--s)) calc(-0.3 * var(--s)) / var(--_g),
      conic-gradient(from 90deg at 20% 20%, var(--c2) 25%, var(--c1) 0) 0 0 /
        var(--s) var(--s);
    animation: moveBackground 3s infinite;
  }
  
  @keyframes moveBackground {
    0% {
      background-position: calc(0.9 * var(--s)) calc(0.9 * var(--s)),
        calc(-0.1 * var(--s)) calc(-0.1 * var(--s)),
        calc(0.7 * var(--s)) calc(0.7 * var(--s)),
        calc(-0.3 * var(--s)) calc(-0.3 * var(--s)), 0 0;
    }
    25% {
      background-position: calc(1.9 * var(--s)) calc(0.9 * var(--s)),
        calc(-1.1 * var(--s)) calc(-0.1 * var(--s)),
        calc(1.7 * var(--s)) calc(0.7 * var(--s)),
        calc(-1.3 * var(--s)) calc(-0.3 * var(--s)), 0 0;
    }
    50% {
      background-position: calc(1.9 * var(--s)) calc(-0.1 * var(--s)),
        calc(-1.1 * var(--s)) calc(0.9 * var(--s)),
        calc(1.7 * var(--s)) calc(-0.3 * var(--s)),
        calc(-1.3 * var(--s)) calc(0.7 * var(--s)), 0 0;
    }
    75% {
      background-position: calc(2.9 * var(--s)) calc(-0.1 * var(--s)),
        calc(-2.1 * var(--s)) calc(0.9 * var(--s)),
        calc(2.7 * var(--s)) calc(-0.3 * var(--s)),
        calc(-2.3 * var(--s)) calc(0.7 * var(--s)), 0 0;
    }
    100% {
      background-position: calc(2.9 * var(--s)) calc(-1.1 * var(--s)),
        calc(-2.1 * var(--s)) calc(1.9 * var(--s)),
        calc(2.7 * var(--s)) calc(-1.3 * var(--s)),
        calc(-2.3 * var(--s)) calc(1.7 * var(--s)), 0 0;
    }
  }
  
  
  
  .background-type-1-3 {
    --s: 100px; /* controla el tamaño */
    --c1: #84f961;
    --c2: #298d5d;
  
    --_s: calc(2 * var(--s)) calc(2 * var(--s));
    --_g: var(--_s) conic-gradient(at 40% 40%, #0000 75%, var(--c1) 0);
    --_p: var(--_s) conic-gradient(at 20% 20%, #0000 75%, var(--c2) 0);
    background: calc(0.9 * var(--s)) calc(0.9 * var(--s)) / var(--_p),
      calc(-0.1 * var(--s)) calc(-0.1 * var(--s)) / var(--_p),
      calc(0.7 * var(--s)) calc(0.7 * var(--s)) / var(--_g),
      calc(-0.3 * var(--s)) calc(-0.3 * var(--s)) / var(--_g),
      conic-gradient(from 90deg at 20% 20%, var(--c2) 25%, var(--c1) 0) 0 0 /
        var(--s) var(--s);
    animation: moveBackground 3s infinite;
  }
  
  @keyframes moveBackground {
    0% {
      background-position: calc(0.9 * var(--s)) calc(0.9 * var(--s)),
        calc(-0.1 * var(--s)) calc(-0.1 * var(--s)),
        calc(0.7 * var(--s)) calc(0.7 * var(--s)),
        calc(-0.3 * var(--s)) calc(-0.3 * var(--s)), 0 0;
    }
    25% {
      background-position: calc(1.9 * var(--s)) calc(0.9 * var(--s)),
        calc(-1.1 * var(--s)) calc(-0.1 * var(--s)),
        calc(1.7 * var(--s)) calc(0.7 * var(--s)),
        calc(-1.3 * var(--s)) calc(-0.3 * var(--s)), 0 0;
    }
    50% {
      background-position: calc(1.9 * var(--s)) calc(-0.1 * var(--s)),
        calc(-1.1 * var(--s)) calc(0.9 * var(--s)),
        calc(1.7 * var(--s)) calc(-0.3 * var(--s)),
        calc(-1.3 * var(--s)) calc(0.7 * var(--s)), 0 0;
    }
    75% {
      background-position: calc(2.9 * var(--s)) calc(-0.1 * var(--s)),
        calc(-2.1 * var(--s)) calc(0.9 * var(--s)),
        calc(2.7 * var(--s)) calc(-0.3 * var(--s)),
        calc(-2.3 * var(--s)) calc(0.7 * var(--s)), 0 0;
    }
    100% {
      background-position: calc(2.9 * var(--s)) calc(-1.1 * var(--s)),
        calc(-2.1 * var(--s)) calc(1.9 * var(--s)),
        calc(2.7 * var(--s)) calc(-1.3 * var(--s)),
        calc(-2.3 * var(--s)) calc(1.7 * var(--s)), 0 0;
    }
  }
  
  .background-type-1-4 {
    --s: 100px; /* controla el tamaño */
    --c1: #000000;
    --c2: #ffffff;
  
    --_s: calc(2 * var(--s)) calc(2 * var(--s));
    --_g: var(--_s) conic-gradient(at 40% 40%, #0000 75%, var(--c1) 0);
    --_p: var(--_s) conic-gradient(at 20% 20%, #0000 75%, var(--c2) 0);
    background: calc(0.9 * var(--s)) calc(0.9 * var(--s)) / var(--_p),
      calc(-0.1 * var(--s)) calc(-0.1 * var(--s)) / var(--_p),
      calc(0.7 * var(--s)) calc(0.7 * var(--s)) / var(--_g),
      calc(-0.3 * var(--s)) calc(-0.3 * var(--s)) / var(--_g),
      conic-gradient(from 90deg at 20% 20%, var(--c2) 25%, var(--c1) 0) 0 0 /
        var(--s) var(--s);
    animation: moveBackground 3s infinite;
  }
  
  @keyframes moveBackground {
    0% {
      background-position: calc(0.9 * var(--s)) calc(0.9 * var(--s)),
        calc(-0.1 * var(--s)) calc(-0.1 * var(--s)),
        calc(0.7 * var(--s)) calc(0.7 * var(--s)),
        calc(-0.3 * var(--s)) calc(-0.3 * var(--s)), 0 0;
    }
    25% {
      background-position: calc(1.9 * var(--s)) calc(0.9 * var(--s)),
        calc(-1.1 * var(--s)) calc(-0.1 * var(--s)),
        calc(1.7 * var(--s)) calc(0.7 * var(--s)),
        calc(-1.3 * var(--s)) calc(-0.3 * var(--s)), 0 0;
    }
    50% {
      background-position: calc(1.9 * var(--s)) calc(-0.1 * var(--s)),
        calc(-1.1 * var(--s)) calc(0.9 * var(--s)),
        calc(1.7 * var(--s)) calc(-0.3 * var(--s)),
        calc(-1.3 * var(--s)) calc(0.7 * var(--s)), 0 0;
    }
    75% {
      background-position: calc(2.9 * var(--s)) calc(-0.1 * var(--s)),
        calc(-2.1 * var(--s)) calc(0.9 * var(--s)),
        calc(2.7 * var(--s)) calc(-0.3 * var(--s)),
        calc(-2.3 * var(--s)) calc(0.7 * var(--s)), 0 0;
    }
    100% {
      background-position: calc(2.9 * var(--s)) calc(-1.1 * var(--s)),
        calc(-2.1 * var(--s)) calc(1.9 * var(--s)),
        calc(2.7 * var(--s)) calc(-1.3 * var(--s)),
        calc(-2.3 * var(--s)) calc(1.7 * var(--s)), 0 0;
    }
  }
  .background-type-1-5 {
    --s: 100px; /* controla el tamaño */
    --c1: #ffffff;
    --c2: #000000;
  
    --_s: calc(2 * var(--s)) calc(2 * var(--s));
    --_g: var(--_s) conic-gradient(at 40% 40%, #0000 75%, var(--c1) 0);
    --_p: var(--_s) conic-gradient(at 20% 20%, #0000 75%, var(--c2) 0);
    background: calc(0.9 * var(--s)) calc(0.9 * var(--s)) / var(--_p),
      calc(-0.1 * var(--s)) calc(-0.1 * var(--s)) / var(--_p),
      calc(0.7 * var(--s)) calc(0.7 * var(--s)) / var(--_g),
      calc(-0.3 * var(--s)) calc(-0.3 * var(--s)) / var(--_g),
      conic-gradient(from 90deg at 20% 20%, var(--c2) 25%, var(--c1) 0) 0 0 /
        var(--s) var(--s);
    animation: moveBackground 3s infinite;
  }
  
  @keyframes moveBackground {
    0% {
      background-position: calc(0.9 * var(--s)) calc(0.9 * var(--s)),
        calc(-0.1 * var(--s)) calc(-0.1 * var(--s)),
        calc(0.7 * var(--s)) calc(0.7 * var(--s)),
        calc(-0.3 * var(--s)) calc(-0.3 * var(--s)), 0 0;
    }
    25% {
      background-position: calc(1.9 * var(--s)) calc(0.9 * var(--s)),
        calc(-1.1 * var(--s)) calc(-0.1 * var(--s)),
        calc(1.7 * var(--s)) calc(0.7 * var(--s)),
        calc(-1.3 * var(--s)) calc(-0.3 * var(--s)), 0 0;
    }
    50% {
      background-position: calc(1.9 * var(--s)) calc(-0.1 * var(--s)),
        calc(-1.1 * var(--s)) calc(0.9 * var(--s)),
        calc(1.7 * var(--s)) calc(-0.3 * var(--s)),
        calc(-1.3 * var(--s)) calc(0.7 * var(--s)), 0 0;
    }
    75% {
      background-position: calc(2.9 * var(--s)) calc(-0.1 * var(--s)),
        calc(-2.1 * var(--s)) calc(0.9 * var(--s)),
        calc(2.7 * var(--s)) calc(-0.3 * var(--s)),
        calc(-2.3 * var(--s)) calc(0.7 * var(--s)), 0 0;
    }
    100% {
      background-position: calc(2.9 * var(--s)) calc(-1.1 * var(--s)),
        calc(-2.1 * var(--s)) calc(1.9 * var(--s)),
        calc(2.7 * var(--s)) calc(-1.3 * var(--s)),
        calc(-2.3 * var(--s)) calc(1.7 * var(--s)), 0 0;
    }
  }